.groups .container.actives {
  margin-left: 140px;
}

.groups .container {
  border: none;
}

/* modal 0yna uchun  */

.group-modal {
  display: none;
  position: fixed;
  background-color: #a2a1a833;
  backdrop-filter: blur(3px);
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  transform: scale(0);
}
.group-modal.adds {
  transform: scale(1);
}

.modal-submit {
  border-radius: 6px;
  flex-direction: column;
  width: 400px;
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 146, 255, 0.4),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.modal-submit input {
  width: 100%;
  outline: none;
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  box-shadow:
    inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.modal-submit select{
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 17px;
  background-color: #ffffff;
   box-shadow:
    inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    margin-bottom: 10px;
}

.modal-submit button {
  padding: 13px 100px;
  border: none;
  border-radius: 8px;
  background-color: #0092ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 146, 255, 0.4),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.modal-submit button:hover {
  background-color: #ffc942;
  color: #000000;
  transform: translateY(-2px);
  box-shadow: 0px 10px 18px rgba(232, 172, 24, 0.5),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.modal-submit button:active {
  transform: scale(0.95);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
    inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.modal-submit h2 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

/* modal oyna tugashi */

.addition {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  gap: 30px;
  position: sticky;
}

.addition button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  background-color: #0092ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 146, 255, 0.4),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.addition button:hover {
  background-color: #ffc942;
  color: #000000;
  transform: translateY(-2px);
  box-shadow: 0px 10px 18px rgba(232, 172, 24, 0.5),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.addition button:active {
  transform: scale(0.95);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
    inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.addition select {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #0092ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 146, 255, 0.4),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.addition select:hover {
  background-color: #ffc942;
  color: #000000;
  box-shadow: 0px 10px 18px rgba(232, 172, 24, 0.5),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.addition select:active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
    inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.type-groups {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 600px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.type-groups p {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: #0092ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 146, 255, 0.4),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.type-groups p:hover {
  background-color: #ffc942;
  color: #000000;
  transform: translateY(-2px);
  box-shadow: 0px 10px 18px rgba(232, 172, 24, 0.5),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
}

.type-groups p:active {
  transform: scale(0.95);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
    inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.enter-data {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.enter-data-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7),
    3px 3px 8px rgba(0, 0, 0, 0.15), -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.enter-data-titles li {
  width: 14%;
  text-align: center;
  padding: 10px 0px;
}

/* .personal-circut {
  height: 436px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.personal-circut::-webkit-scrollbar {
  display: none;
} */

.enter-data-personal {
  width: 99.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  margin-bottom: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7),
    3px 3px 8px rgba(0, 0, 0, 0.15), -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.enter-data-personal li {
  width: 14%;
  text-align: center;
  padding: 14px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-data-personal li:nth-child(5) p {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0092ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.enter-data-personal li:nth-child(6) p {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #ffc942;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.enter-data-personal li:nth-child(6) p svg {
  position: absolute;
  top: -3px;
  right: -4px;
  color: #000;
  font-size: 25px;
}

.enter-data-personal li:nth-child(7) p {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
