.enter-data-managers {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.enter-data-titles-managers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 5px; 
  background-color: #ffffff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7),
    3px 3px 8px rgba(0, 0, 0, 0.15), -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.enter-data-titles-managers li {
  width: 14%;
  text-align: center;
  padding: 10px 0px;
}



.enter-data-managers-found {
  width: 99.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  margin-bottom: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7),
    3px 3px 8px rgba(0, 0, 0, 0.15), -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.enter-data-managers-found li {
  width: 14%;
  text-align: center;
  padding: 14px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.enter-data-managers-found li:nth-child(4) p {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #ffc942;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.enter-data-managers-found li:nth-child(6) p svg {
  position: absolute;
  top: -3px;
  right: -4px;
  color: #000;
  font-size: 25px;
}

.enter-data-managers-found li:nth-child(5) p {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}