.lids-modals {
  background-color: #0000002e;
  backdrop-filter: blur(1px);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: -100%;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.5s ease;
  overflow: visible;
}

.lids-modals.placement {
  top: 0px;
}

.lids-modals-information {
  top: 0px;
  right: -100%;
  padding: 20px;
  position: absolute;
  background-color: white;
  width: 55%;
  height: 100%;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 12px rgba(252, 253, 253, 0.4),
    inset 0px 2px 4px rgba(124, 124, 124, 0.1),
    inset 0px -2px 4px rgba(116, 115, 115, 0.3);
  border-radius: 20px 0px 0px 20px;
}

.lids-modals.placement .lids-modals-information {
  right: 0px;
  transition-delay: 0.4s;
}

.lids-modals-information-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.lids-modals-information-down .lids-qoshish {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lids-modals-information-down .lids-qoshish p {
  font-size: 18px;
  font-weight: 600;
  color: #1e537d;
}

.lids-modals-mark {
  padding: 8px 8px;
  border-radius: 100px;
}

.lids-modals-btns {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

.lids-modals-btns .btn-prev {
  padding: 10px 20px;
  padding-right: 10px;
}

.lids-modals-btns .btn-nexts {
  padding: 10px 20px;
  padding-left: 10px;
  transform: scale(1);
  transition: all 0.3s ease;
}

.btn-nexts.delete-btn {
  transform: scale(0);
  pointer-events: none;
}

.lids-modals-btns button {
  padding: 10px 20px;
}

.lids-modals-helper {
  border-bottom: 1px solid rgba(128, 128, 128, 0.332);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-top: 20px;
}

.lids-modals-helper .helps {
  padding: 10px 30px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #1e537d;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.lids-modals-helper .helps:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: #1e537d;
  width: 0px;
  height: 3px;
  transition: all 0.3s ease;
}

.lids-modals-helper .helps::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0px;
  background-color: #1e537d;
  width: 0px;
  height: 3px;
  transition: all 0.3s ease;
}

.lids-modals-helper .helps.activate::after {
  width: 100%;
}

.lids-modals-helper .helps.activate::before {
  width: 100%;
}

.lids-modals-helper .helps.activate2::after {
  width: 100%;
}

.lids-modals-helper .helps.activate2::before {
  width: 100%;
}

.lids-modals-panels {
  width: 100%;
  height: 80%;
  display: flex;
  border-radius: 10px;
  margin-top: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 15px;
  /* Select dropdown uchun container */
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.lids-modals-panels::-webkit-scrollbar {
  display: none;
}

.lids-modals-panels-content1,
.lids-modals-panels-content2 {
  opacity: 1;
  width: 100%;
  height: 99%;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* Select dropdown uchun container */
  position: relative;
  z-index: 2;
  transform: translate(0);
  transition: all 0.5s ease;
}

.lids-modals-panels-content1::-webkit-scrollbar,
.lids-modals-panels-content2::-webkit-scrollbar {
  display: none;
}

.lids-modals-panels-content1.take-up {
  transform: translate(-100%);
  pointer-events: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: all 0.5s ease;
}

.lids-modals-panels-content2.take-down {
  transform: translate(100%);
  pointer-events: none;
  opacity: 0;
  width: 0px;
  height: 0px;
}

/* contentlar */

.lids-modals-panels-content1 {
  width: 100%;
}

.lids-modals-panels-content2 {
  width: 100%;
}

/* contentlar */

.lids-modals-panels-content1 .content1-registr {
  width: 720px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.filial-btns {
  width: 100%;
}

.filial-btns p {
  font-size: 18px;
  font-weight: 500;
  color: #1e537d;
  margin-bottom: 10px;
}

.filial-btns .emirat-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.emirat-btn button {
  padding: 16px 110px;
}

.applicant {
  width: 100%;
}
.applicant .forma {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.forma label {
  font-size: 17px;
  font-weight: 500;
  color: #1e537d;
}

.forma select {
  width: 100%;
  padding: 15px 10px;
  font-size: 17px;
  font-weight: 400;
  color: #1e537d;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.forma select:hover {
  border-color: #1e537d;
}

.forma select:focus {
  border-color: #1e537d;
}

.age-master {
  width: 100%;
}

.age-master .age-masters {
  width: 100%;
}

.age-masters #demo-controlled-open-select-label {
  color: #1e537d;
}

.age-master p {
  margin-bottom: 10px;
  color: #1e537d;
  font-size: 17px;
  font-weight: 500;
}

.age-master .younght {
  color: #1e537d;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
  border: 1px solid white;
}

.age-master MenuItem {
  color: #1e537d;
}

.age-master select:hover {
  border: 1px solid white;
}

.age-master select:focus {
  border-color: white;
}

.job .controlleer {
  color: #1e537d;
  background-color: white;
  z-index: 9;
  width: 50px;
}

.things {
  width: 100%;
}

.things p {
  margin-bottom: 10px;
  color: #1e537d;
  font-size: 17px;
  font-weight: 500;
}

.things .things-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.things-btns button {
  padding: 16px 80px;
}

.taglar {
  width: 100%;
}

.taglar p {
  font-size: 16px;
  font-weight: 500;
  color: #1e537d;
  margin-bottom: 10px;
}

.taglar .taglar-controli {
  width: 100%;
  position: relative;
}

.taglar-controli .warm {
  z-index: 9999;
}

.taglar-controli .warms {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* content1 ni tugashi */

/* content2  */

.lids-modals-panels-content2 .content2-registr2 {
  width: 720px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.content2-registr2 li {
  width: 100%;
}

.content2-registr2 .label-brand {
  font-size: 18px;
  color: #1e537d;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.weeks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weeks button {
  padding: 18px 105px;
}

/* selecteffect */

.select-box {
  position: relative;
  width: 720px;
  font-family: sans-serif;
  user-select: none;
}

.selected {
  padding: 16px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e537d;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.selected:hover {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05),
    inset -1px -1px 2px rgba(255, 255, 255, 0.6),
    0 4px 10px rgba(4, 139, 249, 0.2);
}

.selected:active {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5);
  transform: scale(0.98);
}

/* Arrow */
.arrow {
  border: 4px solid #1e537d;
  border-width: 0 3px 3px 0;
  padding: 4px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
.arrow.up {
  transform: rotate(-135deg);
}

/* Options box */
.options {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background: white;
  color: #1e537d;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 0;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.3s ease;
  z-index: 100;
}
.options.show {
  max-height: 260px;
  opacity: 1;
  padding-bottom: 6px;
}

.options.sourcing {
  bottom: 60px;
}

.options1 {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background: white;
  color: #1e537d;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 0;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.3s ease;
  z-index: 100;
}

.options1.show {
  max-height: 260px;
  opacity: 1;
  padding-bottom: 6px;
}

/* Search input */
.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}
.search-input:focus {
  background: #fafafa;
}

/* Option */
.option {
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}
.option:hover {
  background: #f0f0f0;
}

/* No option text */
.no-option {
  padding: 12px;
  font-size: 14px;
  color: #888;
  text-align: center;
}

/* .multiselect================================================================================================ */

.multiselect3 {
  position: relative;
  width: 280px;
  font-family: sans-serif;
  width: 720px;
}

.selected-box3 {
  padding: 18px 20px;
  border-radius: 6px;
  background: white;
  color: #1e537d;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.selected-box3:hover {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05),
    inset -1px -1px 2px rgba(255, 255, 255, 0.6),
    0 4px 10px rgba(4, 139, 249, 0.2);
}

.selected-box3:active {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5);
  transform: scale(0.98);
}

.arrow3 {
  border: solid #1e537d;
  border-width: 0 2px 2px 0;
  padding: 4px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
.arrow3.up {
  transform: rotate(-135deg);
}

.dropdown3 {
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  max-height: 0px;
  overflow-y: scroll;
  opacity: 0;
  color: #1e537d;
}

.dropdown3.show3 {
  max-height: 200px;
  opacity: 1;
  padding-bottom: 6px;
  bottom: auto;
}

.option3 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.option3:hover {
  background: #f7f7f7;
}

.select-all3 {
  font-weight: bold;
  color: #d32f2f;
  border-bottom: 1px solid #eee;
}

.search-input3 {
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-top: 1px solid #eee;
  outline: none;
  font-size: 14px;
}

/* modal oynani tugashi */

/* 2-modal */

.student-about {
  background-color: #00000038;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: -100%;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.4s ease;
}

.student-about.watch {
  top: 0%;
}

.student-about-informations {
  background-color: white;
  width: 47%;
  top: 0px;
  right: -100%;
  height: 100vh;
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  padding: 20px;
  transition: all 0.3s ease;
}

.student-about.watch .student-about-informations {
  right: 0%;
  transition-delay: 0.4s;
}

.edit-information {
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
  width: 650px;
  height: 83vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.edit-information::-webkit-scrollbar {
  display: none;
}

.male button {
  padding: 18px 110px;
}

.edit-information li {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.edit-information li label {
  font-size: 18px;
  font-weight: 500;
  color: #1e537d;
  margin-bottom: 10px;
}

.edit-information li input {
  width: 100%;
  outline: none;
  padding: 18px 10px;
  border-radius: 10px;
  /* border: 1px solid #1e537d; */
  border: none;
  color: #1e537d;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.edit-information li input::placeholder {
  letter-spacing: 1px;
  color: #1e527d9c;
  font-size: 15px;
  font-weight: 500;
}

/* tugashi */

/* cancelModal */

.lids-plus {
  position: fixed;
  top: -100%;
  right: 0px;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(85, 84, 84, 0.299);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lids-plus.finished {
  top: 0px;
}

/* tugashi */

.lids .container {
  transition: all 0.3s ease;
}

.lids .variable {
  height: 610px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: all 0.3s ease;
  overflow: hidden;
}

.lids-add-content {
  width: 49.6%;
  height: 99%;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
  transition: all 0.6s ease;
  padding: 5px 10px;
}

.lids-add-content.zooms {
  width: 100%;
}

.lids-add-content.zooms12 {
  width: 0;
  max-height: 0;
  opacity: 0;
  transform: translateX(-500%);
  pointer-events: none;
}

.lids-add-content.zooms + .lids-statistiks {
  max-height: 0;
  width: 0;
  pointer-events: none;
  transform: translateX(300%);
}

.lids-statistiks.zooms1 {
  width: 100%;
  height: 100%;
}

.lids-statistik.maximize{
  width: 100%;
  height: 100%;
}

.lids-statistik.maximize + .lids-payings {
  width: 0%;
  height: 0%;
  pointer-events: none;
  display: none;
  transform: translateY(500px);
}

.lids-statistik.maximize2{
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
  transform: translateY(-500%);
}

.lids-payings.maximize1{
  width: 100%;
  height: 100%;
}

.lids-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dcdbdb;
}

.lids-title {
  font-size: 20px;
  font-weight: 600;
  color: #1e537d;
}

.expand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.expand button {
  padding: 10px 20px;
}

.zoom {
  padding: 1px 1px !important;
  border-radius: 200px;
}

.zoom svg {
  animation: zoomanimate 2s linear infinite;
  display: inline-block;
  padding: 8px;
  width: 35px;
  height: 35px;
  border-radius: 200px;
}

@keyframes zoomanimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.status {
  font-size: 18px;
  font-weight: 600;
  color: #1e537d;
  padding: 10px 0px;
  border-bottom: 1px solid #a0a0a0;
}

.status-bases {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 82%;
  overflow: hidden;
}

.status-bar.enlarge {
  width: 30%;
}

.user-info-main {
  width: 0%;
  height: 100%;
  display: flex;
  transform: translateX(600%);
  transition: width 0.5s linear, transfrom 2s linear;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.user-info-main.enlarge {
  width: 70%;
  transform: translateX(0%);
  min-height: 100%;
  opacity: 1;
  border-left: 1px solid #1e527d9c;
  padding-left: 10px;
  margin-left: 8px;
}

.user-info-main-contest {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.user-info-main-content {
  width: 600%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 5px;
  z-index: 99;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 6px 10px rgb(237, 240, 244),
    inset 0px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -2px 4px rgba(0, 0, 0, 0.3);
  color: #1e537d;
}

.user-info-main-content p {
  width: 25%;
  text-align: center;
  border-right: 1px solid #1e527d43;
  padding: 10px 0px;
}

.user-info-main-content p:last-child {
  text-align: center;
  border-right: none;
}

.user-info-main-content p:nth-child(1) {
  width: 6%;
  text-align: center;
}

.user-info-main-content p:nth-child(2) {
  width: 25%;
}

.user-info-main-list-border {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-info-main .user-info-main-list {
  width: 600%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 6px 10px rgb(237, 240, 244),
    inset 4px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -3px 8px rgba(72, 71, 71, 0.3);
  color: #1e537d;
}

.user-info-main .user-info-main-list:hover {
  transform: translateY(-2px);
  box-shadow: 2px 6px 10px rgb(237, 240, 244),
    inset 4px 2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -3px 15px rgba(72, 71, 71, 0.3);
}

.user-info-main .user-info-main-list:active {
  transform: translateY(0px);
}

.user-info-main-list li {
  width: 25%;
  text-align: center;
  padding: 10px 0px;
  border-right: 1px solid #1e527d43;
}

.user-info-main-list li:last-child {
  border-right: none;
}

.user-info-main-list li:nth-child(1) {
  width: 6%;
  text-align: center;
}

.user-info-main-list li:nth-child(2) {
  width: 25%;
}

.status-bar {
  margin-top: 10px;
  padding-top: 3px;
  width: 100%;
  height: 472px;
  position: relative;
  overflow: hidden;
  z-index: 9;
  padding-left: 5px;
  transition: all 0.5s linear;
}

.status-bar li:nth-of-type(1) {
  width: 99%;
}

.shortcut {
  z-index: -1;
  position: absolute;
  padding-left: 5px;
  transform: translateY(-569px);
  width: 100%;
  height: 100%;
  overflow: scroll;
  top: 50px;
  left: 0px;
  transition: all 0.6s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 5px;
}

.lids-add-content .shortcut::-webkit-scrollbar {
  display: none;
}

.shortcut.cutting {
  transform: translateY(0);
}

.shortcut li:nth-of-type(1) {
  width: 97%;
}

.status-bar li {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #1e537d;
  transform: translateY(0px);
  background-color: #ffffff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7),
    3px 3px 8px rgba(0, 0, 0, 0.15), -2px -2px 5px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.status-bar li p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-bar li p span {
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(195, 194, 194);
  color: #fff;
  padding: 0px 10px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-bar li:hover {
  transform: translateY(-2px) scale(1.005);
}

.status-bar li:active {
  transform: scale(1);
}

.lids-statistiks {
  width: 49.3%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  max-height: 600px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.lids-statistik {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 306px;
  padding: 7px 10px;
}

.lids-statistik .status-bar {
  height: 165px;
}

.lids-statistik .shortcut {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 5px;
}

.lids-statistik .shortcut::-webkit-scrollbar {
  display: none;
}

.lids-payings {
  width: 100%;
  height: 290px;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.lids-payings .status-bar {
  height: 170px;
  /* border: 2px solid red; */
}

.lids-payings .shortcut {
  /* border: 2px solid red; */
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 5px;
}

.lids-payings .shortcut::-webkit-scrollbar {
  display: none;
}

/* Material UI Select dropdown uchun maxsus CSS */

.taglar {
  position: relative;
  z-index: 10;
  width: 100%;
}

/* .test .form-control {
  width: 100%;
} */

/* .test2 {
  position: relative;
  z-index: 11;
} */

.taglar .MuiPaper-root.MuiMenu-paper {
  z-index: 99999 !important;
  max-height: 350px !important;
  overflow-y: auto !important;
}

.taglar .MuiSelect-root {
  position: relative;
  z-index: 10;
}

.taglar .MuiFormControl-root {
  position: relative;
  z-index: 10;
}

.taglar .MuiSelect-select {
  position: relative;
  z-index: 10;
}

.taglar .MuiMenu-paper {
  position: absolute !important;
  z-index: 9999 !important;
  max-height: 400px !important;
  overflow-y: auto !important;
  margin-top: 100px !important;
  left: 0 !important;
  right: auto !important;
  transform-origin: left top !important;
}

.taglar .MuiFormControl-root .MuiMenu-paper {
  left: 0 !important;
  top: 100px !important;
  right: auto !important;
  margin-left: 40px !important;
}

.taglar .MuiMenu-list {
  padding: 4px 0 !important;
}

.taglar .MuiSelect-root + .MuiMenu-paper {
  left: 0 !important;
  right: auto !important;
  transform-origin: left top !important;
}

.taglar .MuiPopover-paper {
  transform-origin: left top !important;
}

.taglar .MuiPopover-paper {
  left: auto !important;
  right: auto !important;
  transform-origin: left top !important;
  margin-left: 0 !important;
}

.taglar .MuiFormControl-root {
  position: relative;
}

.taglar .MuiSelect-select {
  text-align: left !important;
}

/* tugashi ============================================= */
